* { margin: 0; }
body { background-color: #ffe9f5; /*#ffe9f5;#438EB9;#f4c7e3;*/ }
.wrapper { width: 960px; margin: 0 auto; }
    .wrapper li { position: relative; width: 280px; height: 280px; list-style: none; margin: 5px; display: inline-block; background: #fff; }
.picBox { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
    .picBox > img { width: 280px; }

.music-controls { width: 100%; position: fixed; bottom: 0; height: 80px; color: #666; text-align: center; z-index: 1002; /*border-top: 0.1px solid #ef625b;*/ }
.music-controls .play-controls { width: 132px; margin: 0 auto; font-size: 40px; padding: 10px 0; }
.music-controls .play-controls [class^="btn_"] { padding: 0 4px; }
    .music-controls > .loading { float: none; margin:0 auto;padding-top:32px; }
.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.play-controls>a { text-decoration: none; color: #F5696C; }
    .play-controls > a:hover { color: #ED484B; text-shadow: 0 0 5px #FFF; }
.fa-play-circle-o:before { content: "\f01d"; }
.fa-pause-circle-o:before { content: "\f28c"; }